.map-container{
  padding: 20px;
}
.leaflet-container {
  width: 600px;
  height: 500px;
  background-color: white;
}

.color-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.color-info div{
  text-align: center;
}
.col{
  width: 30px;
  height: 10px;
}